server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/aikb
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
  logging:
    level:
      org.springframework.security: DEBUG